header{
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 5;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    
}
html{
    scroll-behavior: smooth;
}
:root{
    --site-max-width:1300px;
}
.navbar :where(#menu-close, #menu-open){
    display: block;
    font-size: 20px;
}
.navbar #menu-close{
    position: absolute;
    right: 30px;
    top: 30px;
}
.navbar #menu-open{
    color: white;
    margin-left: 250px;
    margin-top: 10px;
   
   
}
.navbar .nav-link .nav-menu{
    color: var(--white-color);

}
.navbar .logo .logo-text{
    color: rgb(227, 21, 21);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button{
    cursor: pointer;
    border: none;
    background: none;

}

.section-content{
    margin: 0 auto;
    padding: 0 20;
    margin-left: 130px;
}
header .navbar{
    color: var(--white-color);
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: -20px;
    margin-right: 150px;
   

}
.navbar .nav-menu{
    
    
    display: flex;
    gap: 10px;
    padding: 20px;
   
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px ;
    color: white;
   
    border-radius: 100px;
    font-size: 15px;
    transition: 0.3 ease;
}
.navbar .nav-menu .nav-link:hover{
    color: aliceblue;
    background-color: rgb(166, 4, 4);

}



/* main */
.section{
    min-height: 100vh;
    background-color:  black;
    margin-top: -10px;
    width: 1510px;
   
}
.section .section-content{
    display: flex;
    text-align: center;
    min-height: 100vh;
    color: white;
    justify-content: space-between;
    
}
.main-image {
   
    margin-top: 100px;
    margin-left: 40px;
}
.section-details{
    margin-top: 250px;
    margin-right: 60px;
}
.section .section-details .title{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    margin-right: 300px;

}
.section .section-details .subtitle{
margin-top: 8px;
max-width: 70%;
font-size: 30px;
font-weight: lighter;
}
.section .section-details .discription{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: 15px;
    margin-right: 200px;
}
.section .section-details .button{
    padding: 10px 20px;
    border: 2px solid transparent;
    color: white;
    border-radius: 100px;
    background-color: red;
    font-weight: 200;

}
.section .section-details .buttons{
    display: flex;
    gap: 25px;
    margin-left: 180px;
    transition: 0.3 ease;
    

}
.section .section-details .button:hover{
    color: aliceblue;
    border-color: red;
    background: transparent;

}

.About-section{
    padding: 120px 0;
    background-color: white;
}
.About-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.About-section .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 200px;
    margin-right: 50px;
}
.section-text{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    margin-top: -100px;
    margin-right: 100px;
}
/* .section-text::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 50px;
    background: rgb(223, 215, 215);
    margin-right: 350px;

} */
.About-section .About-details .text{
    line-height: 30px;
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: -100px;
    margin-right: 100px;
    margin-left: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.About-section .social-link-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-right: 200px;
    margin-top: 30px;
    
    
}
.About-section .social-link-list .social-link{
    color: black;
    font-size: 25px;
    transition: 0.2 ease;

}
.About-section .social-link-list .social-link:hover{
    color: red;
}


.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    text-align: center;
    justify-content: space-between;
    

}

.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: calc(100% /3 - 110px);
   

}
.menu-section{
    background: black;
    color: white;
    padding: 50px 0 100px;
}
.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: -1;
    margin-bottom: 15px;
    object-fit: contain;
    transition: 0.3 ease;
}
.menu-section .menu-list .menu-item .menu-image:hover{
    background:red;
    height: 300px;
    width: 500px;
    border-radius: 150px;
}
.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: 25px;
    font-weight: 200;

}
.menu-section .menu-list .menu-item .text{
    font-size: 18px;
}



.Reviews-section{
    padding: 50px 0 100px;
    background: red;
    margin-right: 50px;
    width: 100%;
}
.Reviews-section .Reviews {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.Reviews-section .Reviews .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 50px;
}
.Reviews-section .Reviews .name{
    margin-bottom: 16px;
    font-size: 25px;
    color: white;

}
.Reviews-section .Reviews .feedback{
    line-height: 25px;
    color: white;

}
.Reviews-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    
    opacity: 1;
    background: black;
    line-height: 30px;
  
}
.Contact-section{
    background:black;
    padding: 50px 0 100px;
    color: white;
    width: 100%;

}
.Contact-section .section-content{
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
}
.Contact-section .Contact-info-list .Contact-info{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;


}
.Contact-section .Contact-info-list .Contact-info i{
    font-size: 20px;
}
.Contact-section .contact-form .form-input{
    width: 80%;
    height: 50px;
    background: white;
    border: 1px solid red;
    border-radius: 30px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    

}
.Contact-section .contact-form {
    min-width: 50%;
    margin-top: 60px;
}
.Contact-section .contact-form textarea{
    height: 100px;
    padding: 12px;
    resize: vertical;
}
.Contact-section .contact-form .button-submit{
    padding: 10px 26px;
    color: white;
    border-radius: 50px;
    font-weight: 200;
    font-size: 20px;
    border: 1px solid red;
    margin-top: 10px;
    transition: 0.3 ease;


    background: red;


}
.Contact-section .contact-form .button-submit:hover{
    background: transparent;
}
.Footer-section{
    padding: 20px 0;
    background: red;


}
.Footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Footer-section .social-link-list{
    display: flex;
    gap: 25px;
}
.Footer-section .social-link-list .social-link{
    font-size: 30px;

}
.Footer-section .social-link-list .social-link:hover{
    color: black;
}
.Footer-section :where(.copyright-text,.social-link,.policy-link){
    color: white;
    transition: 0.2s ease;

}
.Order-you-Dishes{
    text-align: center;
    background: gold;
    color: black;
    border-radius: 100px;
    padding: 20px;
    font-size: 25px;
    margin-top: 60px;
    margin-left: 600px;

}

@media screen and (max-width:1024px) {
    .menu-section .menu-list{
        gap: 60px;

    }
    


    .menu-section .menu-list .menu-item{
        width: calc(100% /3 - 60px);
    }
}
@media screen and (max-width:900px) {
    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -350px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100;
        background: white;
        gap: 20px;
        transition: left 0.2 ease;

    }
    body.show-mobile .navbar .nav-menu{
        left: 0;

    }
    .navbar .nav-menu .nav-link{
        color: black;
        font-size: 20px;
        display: block;
        margin-top: 20px;
        
    } 
    .About-section .section-content{
        gap: 70px;
        flex-direction: column-reverse;

    }
    .About-section .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;

    }
    
    
}



